/* Common css */
a{
    color:#000;
    text-decoration: none;
}
a:hover{
    color: tomato;
}
ul li{
    list-style: none;
   
}
ul{
    padding-left: 0;
}

/* Navbar CSS */
.navbar-brand img{
    width: 70%;
}

/* Home page CSS */


/* Team Page */

.singleImage img{
    filter: grayscale(100%);
    transition: 0.5s;
   
}
.singleImage img:hover{
    filter: grayscale(0%);
}

/* Countdown  css */
h1 span{
    font-size: 40px;
}
/* Footer CSS */
.social-wrapper{
    display: flex;
    flex-direction: row-reverse;
}
.social-wrapper a{
    font-size: 20px;
    
   
}
.social-wrapper span a:hover{
    color: tomato;
}
/* Not Found */

